
 
.header {	width: 100%; 
    @include transition ( all 0.5s); position: fixed; top: 0px; left: 0px; z-index: 99;
    .rxt-navigation{
        > li{
            %activeState{color: #fff; 
                &:after{visibility: visible; opacity: 0.5; left:15px; @include transform(translateY(-50%) scale(1)); }
            }
            > a:not([class*="t-btn"]){color: #eff0ff; position: relative; 
                &:after{visibility: hidden; opacity: 0; content: ""; width: 30px; height: 30px;  @include gradient-horizontal;  border-radius: 50%; position: absolute; z-index: -1; left: 5px; top: 50%; @include transform(translateY(-50%) scale(0.5)); @include transition(ease all 0.3s); }
                &:hover{@extend %activeState; }
            }
            > a.t-btn-primary-outline{color: #eff0ff; border-color: #eff0ff; 
                &:hover{color: #fff; background: #313ee7; border-color: darken($color: #313ee7, $amount: 20%); }
            }
            &.active > a:not([class*="t-btn"]){@extend %activeState; }
        }
    }
    .rxt-nav-trigger > span{background: lighten($color: #313ee7, $amount: 35%); }
}

 
.header--sticky {	background-color: #fff; 
    @include box-shadow ( 0 4px 10px 0px rgba(0, 0, 0, 0.03)); } 
 
header.header-dark{ @include gradient-horizontal-dark-2;
    .rxt-navigation{
        > li{
            %activeState{color: #fff; 
                &:after{visibility: visible; opacity: 0.5; left:15px; @include transform(translateY(-50%) scale(1)); }
            }
            > a:not([class*="t-btn"]){color: #eff0ff; position: relative; 
                &:after{visibility: hidden; opacity: 0; content: ""; width: 30px; height: 30px;  @include gradient-horizontal;  border-radius: 50%; position: absolute; z-index: -1; left: 5px; top: 50%; @include transform(translateY(-50%) scale(0.5)); @include transition(ease all 0.3s); }
                &:hover{@extend %activeState; }
            }
            > a.t-btn-primary-outline{color: #eff0ff; border-color: #eff0ff; 
                &:hover{color: #fff; background: #313ee7; border-color: darken($color: #313ee7, $amount: 20%); }
            }
            &.active > a:not([class*="t-btn"]){@extend %activeState; }
        }
    }
    .rxt-nav-trigger > span{background: lighten($color: #313ee7, $amount: 35%); }
}
 
/* Client Portal nav */
.navbar-client{padding: 0; 
    .navbar-nav{
        .nav-item{
            .nav-link{padding: .8rem 1rem; }
            &.active .nav-link, .nav-link:hover{background: rgba($primary-color, .03); }
        }
    }
}
/* / Client Portal nav */


header, .headerOnTravel{
    /*&.nav-up{@include transform(translateY(-100%)); }*/
	&.nav-down{@include transform(translateY(0)); } 
    &.small-header{@include gradient-horizontal-dark-2; @include box-shadow(0 4px 10px 0 rgba(#000, .1)); 

        .rxt-navigation{

            > li{
                > a{
                    padding: 20px 15px 
                }
            }
        }
        &.nav-up{@include box-shadow(none); }
    }
    
    $primary-color: #134781; 
    $secondary-color: #313ee7; 
    $white: #fff; 
    $black: #000; 

    /* rxt main navigation */
    .toggle-input{visibility: hidden; opacity: 0; position: absolute; width: 0; height: 0; margin: 0; }
    @media screen and (min-width: 992px){
        [class*="mobOnly-"]{display: none; }
        .top-nav{display: inline-flex; align-items: center; margin-bottom: 10px; 
            > li{position: relative; 
                &:after{content: "/"; color: rgba(#fff, 0.4); position: absolute; top: 50%; right: 0; @include transform(translate(50%, -50%)); }
                > a{color: #fff; padding: 2px 10px; 
                    > i{color: $secondary-color; margin-right: 4px; }
                    &.link-highlighted{color: $secondary-color; }
                    &:hover{color: $secondary-color; }
                }
                &:last-child:after{display: none; }
            }
            .labelCount{font-size: 12px; background: #387fce; height: 17px; width: 17px; border-radius: 50%; color: #fff; text-align: center; line-height: 17px; display: inline-block; }
        }
        .rxt-navigation{position: relative; z-index: 9999; display: inline-flex; align-items: center; list-style-type: none; margin: 0; padding: 0; 
            > li{flex: 1 1 auto; text-align: center; margin-right: 2px; 
                > a{display: block; font-size: 15px; color: $white; text-transform: uppercase; padding:30px 15px; 
                    &.link-highlighted{color: $secondary-color; }
                    &.t-btn-primary-outline{font-size: 14px; color: #313ee7; padding: 5px 22px; border: 1px #313ee7 solid; border-radius: 25px; margin-left: 10px; 
                        &:hover{color: #fff; background: #313ee7; }
                    }
                    &.t-btn-secondary{font-size: 14px; color: #fff; padding: 5px 22px; background: #28e180; border: 1px #28e180 solid; border-radius: 25px; margin-left: 10px; 
                        &:hover{color: #28e180; background: transparent; }
                    }
                }
                .btn-nav{background: $secondary-color; padding: 12px; border-radius: 15px 0; }
                &.active, &:hover{ > a{color: $white; }
                    .btn-nav{border-radius: 0 15px; }
                }
                
                li{ text-align: left; border-bottom: 1px solid rgba(0, 0, 0, 0.05); 
                    a{font-size: 14px; color: $black; display: block; padding: 12px 15px; 
                        &:hover{color: $white; }
                    }
                    &:last-child{border-radius: 0 0 5px 5px; }
                    ul{top: 0; left: 100%; margin: 0 0 0 20px; }
                    &.has-sub > a:before, ul + a:before{content: "\f105"; left: 100%; top: 50%; right: auto; margin: 0 0 0 -15px; @include transform(translateY(-50%)); }
                    &:hover{
                        @include gradient-horizontal-dark-2; }
                    
                }
                &:last-child{margin-right: 0; 
                    a{                        padding-right: 0; }
                }
            }
            
            ul{visibility: hidden; opacity: 0; list-style-type: none; margin: 0; padding: 0; position: absolute; left: 0; top: 100%; width: 220px; background-color: $primary-contrast; border-radius: 0 0 5px 5px; @include transition(ease all 0.3s); @include transform(scale(0.8)); @include box-shadow(0 5px 20px rgba($black, 0.8)); 
            
              
                &:after { bottom: 100%; left: 10%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(248, 247, 253, 0); border-bottom-color: #f8f7fd; border-width: 10px; }
                
               
            }

            li{position: relative; 
                &.has-sub ul li > ul {
                &:after { display: none; }
               }
                &.has-sub > a:before, ul + a:before{font-size:8px !important; position: absolute; top: 50%; @include transform ( translateY(-50%)); left: inherit; right: 2px; content: "\f110"; color: #f8f7fd; @include lineawesome; }
                &:hover{
                    > ul{visibility: visible; opacity: 1; margin: 0; @include transform(scale(1)); }
                }
            }
            .btn-curve{background: #dc3626; border-radius: 15px 0 15px 0; 
                &:hover{color: #fff; background: #387fce; }
            }
        }
    }
    @media screen and (max-width: 1199px){
        .rxt-navigation > li > a{font-size: 12px; }
    }
    @media screen and (max-width: 991px){
        [class*="deskOnly-"]{display: none; }
        &{position: relative; }
        &:not(.headerOnTravel){border-bottom:1px solid rgba(255, 255, 255, 0.4); padding: 15px 0; 
            .logo img{                max-width: 140px; }
        }
         
        .rxt-nav-trigger{display: block; width: 30px; cursor: pointer; 
            > span{display: block; height: 2px; border-radius: 2px; background: darken($color: #fff, $amount: 0%); margin-bottom: 5px; @include transition(ease all 0.3s); 
                &:first-child{width: 23px; margin-left: auto; }
                &:last-child{margin-bottom: 0; }
            }
            &:hover{animation-name: rubberBand; animation-duration: 1s; animation-fill-mode: both; 
				> span{ background-color: $white; }
			}   
        }

        .rxt-navigation-wrap{padding: 40px 0 20px; display: block; position: fixed; z-index: 999999; left: 0; top: 0; bottom: 0; width: 280px; height: 100%; overflow: auto; 
            background: lighten($black, 5%); 
           
            box-sizing: border-box; @include transition(ease all 0.3s); 
            .container{padding: 0; }
		}

        .mobOnly-menu-close{display: block; position: absolute; right: 10px; top: 10px; font-size: 22px; color: #efefef; opacity: 0.6; cursor: pointer; @include transition(ease all 0.3s); 
			&:hover, &:focus{opacity: 1; @include transform(scale(1.2)); }
        }
        
        .top-nav{text-align: left; margin-bottom: 0; 
            > li{border-width: 0 0 1px; border-style: solid; border-color: rgba(#fff, 0.1); 
                > a{display: block; font-size: 14px; color: #fff; padding: 10px 15px; 
                    &.link-highlighted{color: $secondary-color; }
                    > i{margin-right: 6px; }
                }
            }
            .labelCount{font-size: 12px; background: #387fce; height: 17px; width: 17px; border-radius: 50%; color: #fff; text-align: center; line-height: 17px; display: inline-block; }
        }

        .rxt-navigation{list-style-type: none; margin: 0; padding: 0; 
			li{position: relative; border-width: 0 0 1px; border-style: solid; border-color: rgba(#fff, 0.1); 
				&:first-child{border-top-width: 1px; }
                a{display: block; font-size: 14px; color: #fff; padding: 10px 15px; 
                    &.link-highlighted{color: $secondary-color; }
                }
                &.active > a{background: lighten($black, 15%); }
                &.has-sub{display: flex; flex-flow: row-reverse; flex-wrap: wrap; 
                    &:before{content:"\f067"; color: #e2e2e2; flex: 40px 0; text-align: center; 
                        @include fontawesome; display: flex; align-items: center; justify-content: center; }
                    & > a{flex: 1 1 auto; border-right: 1px solid rgba(#fff, 0.1); }
                    & > ul{flex: 100% 0; @include transition(height 0.01s); }
					ul{visibility: hidden; opacity: 0; height: 0; overflow: hidden; list-style-type: none; margin: 0; padding: 0; 
						li{							a{padding-left: 20px; }
                            ul a{padding-left: 25px; }
                            &:last-child{border-bottom: 0; }
						}
					}
					&:hover{ background: lighten($black, 2%);
						&:before{content: "\f068"; color: #fff; }
						& > ul{visibility: visible; opacity: 1; height: 100%; }
					}
				}
			}
        }
        
        .rxt-nav-overlay{display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 9998; background: rgba(0,0,0,0.5); }
        .rxt-navigation-wrap{@include transform(translateX(-100%)); 
            &:target{@include transform(translateX(0)); 
                + .rxt-nav-overlay{display: block; }
            }
        }
        
        [class*="col-"]{position: static; }

    }
    @media screen and (max-width: 575px){
        .rxt-nav-trigger{width: 32px; 
            > span{margin-bottom: 4px; 
                &:first-child{width: 25px; }
            }
        }

        .mobOnly-rxt-quick-nav-wrap .rxt-quick-nav{table-layout: auto; font-size: 12px; }
    }
    /* / rxt main navigation */}
